.DS_Store
node_modules/
**/docs/dist/local/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.yo-rc.json

dist/
src/styles/extracted-classes/
test-results.xml
coverage/

pnpm-lock.yaml